
#header {
  .header__container {
    .page-line-mixin;
    height: 12rem;
    background: #c2ecfb url("../img/header/logo.jpg") top center no-repeat;
    background-size: contain;
  }
}
#navigation {
  .page-line-mixin;
  background-color: #c2ecfb;

  .navigation__menuItemsContainer {
    background-color: rgba(255, 255, 255, .5);
    height: 6rem;

    .navigation__menuItem {
      .aboutUs-icon {
        width: 4rem;
        height: 4rem;
      }
      .gallery-icon {
        width: 4rem;
        height: 4rem;
      }

      .news-icon {
        width: 6rem;
        height: 4rem;
      }
      .contact-icon {
        width: 7rem;
        height: 4rem;
      }
      .menu-item-title {
        font-family: 'Amatic SC', cursiv;
        font-size: 3em;
        font-weight: 700;
        width: 5rem;
      }
    }

  }
  .menu-list {
    list-style-type: none;
    .navigation-shadow-mixin;
  }
}
.content {
  #presentation {
    .page-line-mixin;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, .85) 99%), url('../img/content/presentationBG.jpg') top center no-repeat;
    background-size: cover;
    box-sizing: border-box;

    .image {
      width: 51rem;
      height: 37rem;

      .video {
        video {
          width: 47.6rem;
        }
      }
      .button {
        .button__image {
          width: 2.5rem;
          height: 2.5rem;
          cursor: pointer;
        }
        .button__title {
          display: inline-block;
          width: 20rem;
          font-family: 'Amatic SC', sans-serif ;
          font-size: 2rem;
          font-weight: 700;
          vertical-align: bottom;
          color: #fff;
          text-shadow: 2px 2px #000;
        }
      }
      .iframe {
        display: none;
        iframe {
          width: 47.6rem;
          height: 26.6em;
        }
      }
    }

  }
  #aboutUs {
    .page-line-mixin;
    .aboutUs__container--greenBG {
      background: linear-gradient(rgba(19, 210, 253, .17) 1%, rgba(98, 194, 193, 1) 20%);
    }
    .aboutUs__container--greenPurpleBG {
      background: linear-gradient(rgba(98, 194, 193, 1) 1%, rgba(179, 120, 174, 1) 30%);
    }
    .aboutUs__container--purpleGreenBG {
      background: linear-gradient(rgba(179, 120, 174, 1) 1%, rgba(98, 194, 193, 1) 30%);
    }
    .cloud {
      width: 38rem;
      height: 34rem;
      .cloud__image--left {
        transform: scaleX(-1);
      }
      .cloud__text--anna,
      .cloud__text--nadja {
        width: 29rem;
      }
      .cloud__text--vika {
        width: 26rem;
      }
    }
  }
  .cloud__text {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    text-align: center;
    line-height: 1.5em;
  }
  .cloud__image--rotated {
    transform: scaleY(-1);
  }
  .avatar {
    width: 15rem;
    height: 15rem;
    /*      background: url('../img/svg/svg_defs.svg#teacher-round-frame');*/
    .avatar__image {
      width: 14.3rem;
      border-radius: 50%;
    }
  }
}


