
.header {
  .page-line-mixin;

  .header__container {
    height: 12rem;
    background: #c2ecfb url("../img/header/logo.jpg") top center no-repeat;
    background-size: contain;
  }
}

.navigation {
  .page-line-mixin;
  background-color: #c2ecfb;

  .navigation__menuItems-container {
    background-color: rgba(255, 255, 255, .5);
    height: 6rem;

    .navigation__menuItem {
      .aboutUs-icon{
        width: 6rem;
        height: 3.7rem;
      }
      .gallery-icon {
        width: 4rem;
        height: 4rem;
      }

      .news-icon {
        width: 6rem;
        height: 4rem;
      }
      .contact-icon {
        width: 7rem;
        height: 4rem;
      }
      .menu-item-title {
        font-family: 'Amatic SC',cursiv;
        font-size: 3em;
        font-weight: 700;
        width: 5rem;
      }
    }

  }

  .menu-list {
    list-style-type: none;
  }
}
