
#header {
  .header__container {
    .page-line-mixin;
    height: 12rem;
    background: #c2ecfb url("../img/header/logo.jpg") top center no-repeat;
    background-size: contain;
  }
}
#navigation {
  .page-line-mixin;
  background-color: #c2ecfb;

  .navigation__menuItemsContainer {
    background-color: rgba(255, 255, 255, .5);
    height: 6rem;

    .navigation__menuItem {
      .aboutUs-icon{
        width: 6rem;
        height: 3.7rem;
      }
      .gallery-icon {
        width: 4rem;
        height: 4rem;
      }

      .news-icon {
        width: 6rem;
        height: 4rem;
      }
      .contact-icon {
        width: 7rem;
        height: 4rem;
      }
      .menu-item-title {
        font-family: 'Amatic SC',cursiv;
        font-size: 3em;
        font-weight: 700;
        width: 5rem;
      }
    }

  }
  .menu-list {
    list-style-type: none;
    .navigation-shadow-mixin;
  }
}
.content {

  #presentation{
    .page-line-mixin;
    height: 58rem;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, .85) 99%), url('../img/content/presentationBG.jpg') top center no-repeat;
    background-size: cover;


    box-sizing: border-box;
    .presentation__video {
      video {
        width: 51.5rem;
      }
    }
    .presentation__button {
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
    }
    .presentation__iframe {
      display: none;
      iframe {
        width: 51.5rem;
        height: 28.6em;
      }
    }
    .display {
      width: 55rem;
    }
  }
  .aboutUs__anna {
    .page-line-mixin;

    background: linear-gradient(rgba(19,210,253,.17) 1%,rgba(98,194,193,1) 20%);

    .cloud {
      width: 40rem;
      height: 50rem;
    }
  }
}

