.header__container {
  padding-bottom: @header-image-margin-bottom;
}

.navigation__menuItems-container {
  margin-top: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4,1fr);

  .navigation__menuItem {
    flex: 1;
    text-align: center;
    justify-self: center;
    align-self: center;

    .menu-item-image {
      opacity: 100;
      margin-top: -15px;
    }

    .menu-item-title {
      display: block;
      opacity: 0;
      margin-top: -10px;
    }

      &:hover {
        .menu-item-title {
          color: red;
          display: block;
          opacity:100;
          margin-top: -20px;
          transition: all 2s;
        }
        .menu-item-image {
          opacity: 0;
          margin-top: -40px;
          transition: all 1s;
        }
      }

  }

}