//-------XLARGE---------------------
@container-width-xlg: 1100px;

@video-width-xlg: 47rem;
@video-margin-top-xlg: 2em;
@video-margin-left-xlg: 2em;


//-------------------------------------

@header-image-mb:.9em;
@video-pt: 11.3em;
@video-pb: 6.6em;

@container-pt: 7.8em;
@container-pb: 3.3em;
@container-padding-right-left: 8.3em;

@section-pt: 5em;
@section-pb: 5em;